DATABASE_URL="postgresql://postgres.kikrborlvnnqtaitlxia:4321Schoolofthepower%40@aws-0-sa-east-1.pooler.supabase.com:6543/postgres?pgbouncer=true&connection_limit=1"

DIRECT_URL="postgresql://postgres:4321Schoolofthepower%40@db.kikrborlvnnqtaitlxia.supabase.co:5432/postgres"

NEXT_PUBLIC_SUPABASE_URL=https://kikrborlvnnqtaitlxia.supabase.co

NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_1gm1nfqbd33mGqeydCMEQA_Lrf6yhjP
# =========================================================
JWT_SECRET="06a1ea1b3827fadf54e6ddb93d102721b42003681a4d9f3fd23934f503c12a64"

# =========================================================
# GOOGLE ANALYTICS 4 (opcional)
# Pode ser configurado pelo painel Admin > Configurações
# =========================================================
NEXT_PUBLIC_GA4_ID="G-48MLYDBJD2"

# =========================================================
# DEPLOY NA VERCEL
# 1. Instale a CLI: npm i -g vercel
# 2. Execute: vercel login
# 3. Execute: vercel
# 4. Adicione as variáveis acima em:
#    Vercel Dashboard > Project > Settings > Environment Variables
# 5. Execute no terminal Vercel:
#    npx prisma db push
#    npx tsx prisma/seed.ts
# =========================================================
